.block
	
	// espacamento
	&-respite
		@extends .relative
		padding 50px 0
		
	// ==================
	// alinhamento
	// ==================
	// text center
	&-center
		@extends .txt-center
		
	// alinhado center
	&-align-middle
		.row
			@extends .align-middle

	// ==================
	// largura
	// ==================
	// mais fino
	&-superslim
		@extends .block-respite
		custom-size(oldMobile)
	
	// fino 
	&-slim
		@extends .block-respite
		custom-size(860px)
	
	// fino centralizado
	&-slim--center
		@extends .block-center, .block-slim
					
	// mais largo
	&-large
		@extends .block-respite
		custom-size(1200px)
		
	// mais largo
	&-extralarge
		@extends .block-respite
		custom-size(1380px)
		

	// ============================
		

	// map float
	// ============
	&-map--float
		position relative
		

	// footer
	// =============
	&-footer--main
		background-color #382948
		color white
		padding 50px 0