.card
	// ==================
	// alinhamento
	// ==================
	&-center
		@extends .txt-center
		

	// ==================
	// lista
	&-grid
		> ul
			@extends .flex
			flex-wrap wrap
			
			
			> li
				@extends .col-xs-12
			
					
	&-grid--two-cols
		@extends .card-grid
		
		> ul
			> li
				@media (min-width tablet)
					@extends .col-sm-6
				
	&-grid--three-cols
		@extends .card-grid
		
		> ul
			> li
				@media (min-width oldMobile) and (max-width tablet - 1)
					flex-basis: 50%;
					max-width: 50%;
					
				@media (min-width tablet)
					flex-basis: 33.333%;
					max-width: 33.333%;
					
	&-grid--four-cols
		@extends .card-grid
		
		> ul
			> li
				@media (min-width oldMobile) and (max-width tablet - 1)
					flex-basis: 50%;
					max-width: 50%;
					
				@media (min-width tablet) and (max-width desktopSmall - 1)
					flex-basis: 33.333%;
					max-width: 33.333%;
					
				@media (min-width desktopSmall)
					@extends .col-sm-3
					
	&-grid--five-cols
		@extends .card-grid
		
		> ul
			> li
				@media (min-width oldMobile) and (max-width tablet - 1)
					flex-basis: 50%;
					max-width: 50%;
					
				@media (min-width tablet) and (max-width desktopSmall - 1)
					flex-basis: 33.333%;
					max-width: 33.333%;
					
				@media (min-width desktopSmall)
					flex-basis: 20%;
					max-width: 20%;
					
	&-grid--servicos
		@extends .card-grid--four-cols
		
		li
			padding 10px
			
			.info
				background-color rgba(#341d53, .8)
				padding 50px 10px
			
	// video home
	// =======================
	&-video--fullscreen
		@extends .relative
		max-height 100vh
		overflow hidden
		
		.overlay-video
			@extends .absolute
			background-color rgba(black, .8)
			display block
			height 100%
			left 0
			top 0
			width 100%
			z-index 1
		

	&-welcome
		@extends .absolute, .txt-center
		left 50%
		top 50%
		transform translate(-50%, -50%)
		z-index 2
		
		.logo
			margin-bottom 20px
			
			svg
				height 73px
				width 247px
				
				g
					path
						fill white
						
		.text
			@extends .color-white
			font-size 26px
			font-weight 300
			
			@media (min-width tablet)
				font-size 50px
				
			p
				line-height 1
				
				
	&-simple-text
		@extends .txt-center
		padding 130px 0
		
		.title
			font-size 18px
			
			@media (min-width tablet)
				font-size 32px
				
		.simple-text
			custom-size(900px)
			
		.text
			custom-size(860px)
			
			p
				font-size 18px
				margin-bottom 24px
	

	// servicos home
	// ====================
	&-banner--servicos
		background-size cover
		padding 190px 0
		
		@extends .txt-center
		
		> .row
			custom-size(siteWidth)
		
		p
		h2
		h3
			@extends .color-white
			
		h2
			margin-bottom 80px
			
			&:after
				background-color orange

		h3
			&:after
				@extends h2:after
				background-color rgba(white, .2)
				width 100px
				
		.button
			margin-top 30px
			
	// card sobre o mapa home
	// ==========
	&-map--float
		@extends .txt-center
		left 50%
		position absolute
		top 50%
		transform translate(-50%, -50%)
		z-index 2
		
		.title
			margin-bottom 20px
			
			h2
				font-size 26px
				font-weight 300
				
				@media (min-width tablet)
					font-size 60px
					
				b
					color #382948
					

				&:after
					display none
		

	// footer
	// ========
	&-footer--main
		.text
			@media (min-width tablet)
				text-align right