// imagem responsiva
// =====================
.img-responsive
	height auto
	width 100%

// imagem responsiva mantendo no maximo o tamanho original
// =======================================================
.img-max-responsive
	height auto
	max-width 100%

// links para telefone
// =====================
a[href^="tel:"]
	cursor default

// alinhamento centralizado
// ========================
.txt-center
	text-align center

p
	line-height 1.6


// ================
// global extends
// ================

// color font
// ===========
.color-white
	color white
	
.color-lighten
	color lightColorMaster

.color-second
	color lightColorTwo
	
.color-darken
	color darkColorMaster

// font size
// =========
.font-xs
	font-size 13px

.font-sm
	font-size 15px
	
.font-md
	font-size 19px
	
.font-lg
	font-size 22px

// text form
// ==========
.uppercase
	text-transform uppercase
	
.bold
	font-weight 700

// background
// ===========
.bg-lighten
	background-color lightColorMaster

.bg-darken
	background-color darkColorMaster
	
.bg-darkenTwo
	background-color darkColorTwo

// position
// =========
.relative
	position relative
	
.absolute
	position absolute
	
.fixed
	position fixed

// display
// ========
.flex
	display flex

.block
	display block
	
.none
	display none

// alinhamento
// ========
.middle
	align-items center
	
.justify-center
	justify-content center
	

// transicao padrao
// ========
.transicao
	transition .4s ease