// easing
// ========================

cubic = cubic-bezier(0.165, 0.840, 0.440, 1.000) // easeOutQuart

// breakpoints
// =======================

siteWidth 		= 1240px
desktop			= 1024px
desktopSmall 	= 992px
tablet 			= 768px
mobile 			= 640px
oldMobile 		= 480px


// cores
// ======================

white 				= #fff
black 				= #000

lightColorMaster	= #88aec2
lightColorTwo 		= #29c1c7
lightColorExtra 	= #00a9f1

darkColorMaster		= #6e3895
darkColorTwo		= #333



fontMaster 		= 'Ubuntu', Tahoma, sans-serif



