// ========================
// header
// ========================

.header
	@extends .absolute
	backface-visibility hidden
	padding-bottom 20px
	padding-top 10px
	top 0
	transition .4s ease
	width 100%
	z-index 100
	
	@media (max-width tablet - 1)
		text-align center
	
	@media (min-width tablet)
		padding-top 70px
	
	&.nav-down
		animation header .4s
		background-color rgba(#fcfcfc, .9)
		position fixed
	
	> .row
		@extends .middle
	
	.logo
		@media (max-width tablet)
			padding 10px 0
		a
			svg
				fill darkColorTwo

@keyframes header
	0%
		transform translateY(-100%)
	100%
		transform translateY(0)

	
.lang
	@extends .absolute
	right 0
	top 0
	font-size 10px
	
	@media (min-width tablet)
		transform translateY(-60px)
		

// ==============
// footer
// ==========

.logo--footer
	svg
		height auto
		width 180px
	
		.n
		.w
		.s
		.pixels
		.solutions
			fill white

// ========================
// home
// ========================



// ========================
// breadcrumb
// ========================	
.block-breadcrumb
	padding-top 140px
	
	ol
		@extends .flex
		
		li
			font-size 13px
			
			+ li
				&:before
					content '\203a'
					margin 0 10px


// map
// =======

#mapa
	height 80vh
	width 100%