@import '_vars' /* variaveis (breakpoints, cores, fonts) */
@import '_functions' /* funcoes */
@import '_fonts' /* fonts */
@import '_reset' /* reset (Eric Meyer) */
@import '_grid' /* CSS Grid (Flexboxgrid) */
@import '_extends' /* Class basicas reutilizadas em todo projeto */
@import '_base' /* Elementos genericos (html, body, h1, h2...) */
@import '_menu' /* menu principal do site */
@import '_blocks' /* elementos blocos que englobam os cards */
@import '_cards' /* elemento especifico dentro do bloco */
@import 'main' /* Aqui voce edita grande parte do site */