extends ./layout.pug

block title
	- var titlePage = 'Home'

block vars
	- var bodyClass = 'home'

block alternate
	- var alternate = ''

block meta
	- var titleMeta = 'NSWS Solutions'

block description
	- var description = ""

block content
	section.section#welcome
		.container-fluid
			.card-video--fullscreen
				video(loop, autoplay, muted, width="100%")
					source(src=baseHref + "video/Cars_Timelapse.mp4", type="video/mp4")
					source(src=baseHref + "video/Cars_Timelapse.webm", type="video/webm")

				.overlay-video

				.card-welcome
					.logo
						svg(viewBox="0 0 247.688 73.782")
							use(xlink:href=baseHref + "img/logo.svg#logo")

	section.section
		.container
			.card-simple-text
				.row
					.col-xs-12
						.title
							h2 O que nós fazemos

						.text
							p Nós temos soluções especializadas em informática para empresas, cooperativas, profissionais liberais.

							p Contamos com uma equipe altamente qualificada, capaz de oferecer serviço de ótima qualidade por um valor justo.

	section.section
		.container-fluid
			.card-banner--servicos(style="background-image: url(img/_content/banner-servicos.jpg)")
				.row
					.col-xs-12
						.title
							h2 Nossos serviços

						.card-grid--servicos
							ul
								li
									.title
										h3 Network

									.text
										p Help desk
										p Infraestrutura
										p Consultoria

									.button
										a(href="#") Explore

								li
									.title
										h3 Software

									.text
										p Help desk
										p Infraestrutura
										p Consultoria

									.button
										a(href="#") Explore

								li
									.title
										h3 Web design

									.text
										p Help desk
										p Infraestrutura
										p Consultoria

									.button
										a(href="#") Explore

								li
									.title
										h3 Security

									.text
										p Help desk
										p Infraestrutura
										p Consultoria

									.button
										a(href="#") Explore