extends ./layout.pug

block title
	- var titlePage = 'Home'

block vars
	- var bodyClass = 'home'

block alternate
	- var alternate = ''

block meta
	- var titleMeta = 'NSWS Solutions'

block description
	- var description = ""

block content
	section.section#welcome
		.container-fluid
			.card-video--fullscreen
				video(loop, autoplay, muted, width="100%")
					source(src=baseHref + "video/Cars_Timelapse.mp4?raw=true", type="video/mp4")
					source(src=baseHref + "video/Cars_Timelapse.webm?raw=true", type="video/webm")

				.overlay-video

				.card-welcome
					.logo
						svg(viewBox="0 0 247.688 73.782")
							use(xlink:href=baseHref + "img/logo.svg#logo")
							//- use(xlink:href=baseHref + "img/logo.svg#logo")

					.text
						p Lorem ipsum <b>dolor sit</b> amet, consectetur <b>adipisicing</b> elit.

	section.section
		.container
			.card-simple-text
				.row
					.col-xs-12
						.title
							h2 O que nós fazemos

						.text
							p Nós temos soluções especializadas em informática para empresas, cooperativas, profissionais liberais.

							p Contamos com uma equipe altamente qualificada, capaz de oferecer serviço de ótima qualidade por um valor justo.

	section.section
		.container-fluid
			.card-banner--servicos(style="background-image: url("+ baseHref + "img/_content/banner-servicos.jpg?raw=true)")
				.row
					.col-xs-12
						.title
							h2 Nossos serviços

						.card-grid--servicos
							ul
								li
									.info
										.title
											h3 Network

										.text
											p Help desk
											p Infraestrutura
											p Consultoria

										.button
											a(href="#") Explore

								li
									.info
										.title
											h3 Software

										.text
											p Help desk
											p Infraestrutura
											p Consultoria

										.button
											a(href="#") Explore

								li
									.info
										.title
											h3 Web design

										.text
											p Help desk
											p Infraestrutura
											p Consultoria

										.button
											a(href="#") Explore

								li
									.info
										.title
											h3 Security

										.text
											p Help desk
											p Infraestrutura
											p Consultoria

										.button
											a(href="#") Explore



	section.section
		.block-map--float
			#mapa
			.card-map--float
				.title
					h2 Entre em contato <b>conosco</b>

				.text
					p info@nswsolution.com
					p Avenida 21 de Janeiro, Nº 16
					p Luanda - Angola